@model SubmissionModel


<div class="d-flex justify-content-between">
<h1>Post a message</h1>
    <form asp-area="" asp-controller="User" asp-action="logout" methods="POST">
    <a><button class="btn">Logout</button></a> 
    </form>
</div>
<form asp-action="new" asp-controller="messages" methods="POST" class="d-flex flex-column justify-content-right">
    <textarea asp-for="Message"></textarea>
    <button class="btn btn-primary half-side">Post a Message</button>
</form>


@foreach(Messages Message in ViewBag.Messages)
{
    <div>
        <h2>@Message.User.FullName - @Message.</h2>
        <p>@Message.Message</p>
            <div>
                foreach(Comments Comment in Message.Comments)
                {
                    <h2>@Message.User.FullName - @Message.</h2>
                    <p>@Message.Message</p>
                }
            <form asp-action="new" asp-controller="Comments" methods="POST" >
                <input hidden asp-for="MessageID" value=@Message.MessageID>
                <textarea asp-for="Message"></textarea>
                <button class="btn btn-success">Post a Message</button>
            </form>
            </div>
    
    </div>
}