@model SubmissionModel


<div class="d-flex justify-content-between">
<h1>Post a message</h1>
    <form asp-area="" asp-controller="User" asp-action="logout" methods="POST">
    <a><button class="btn">Logout</button></a> 
    </form>
</div>
<form asp-action="new" asp-controller="messages" methods="POST" class="d-flex flex-column justify-content-right">
    <textarea asp-for="Message"></textarea>
    <button class="btn btn-primary half-side">Post a Message</button>
</form>

@* Note this is mad inefficient..... Figure out how to make it efficient later *@
@foreach(Messages Message in ViewBag.Messages)
{
    <div>
        <div class="d-flex justify-content-between">
            <h2>@Message.User.FullName - @Message.DateFormatted()</h2>
            @if(Message.User.UserID == ViewBag.UserID && (DateTime.Now-Message.Created_At).TotalMinutes < 30)
            {
                TimeSpan aged = (DateTime.Now-Message.Created_At); 
                <p>@aged.TotalMinutes</p>
                <form asp-action="delete" asp-controller="messages" methods="POST">
                    <input hidden asp-for="MessageID" value=@Message.MessageID>
                    <button class="btn btn-danger">Delete</button>
                </form>
            }
        </div>
        <p>@Message.Message</p>
            <div>
                @foreach(Comments Comment in ViewBag.Comments)
                {
                    if(Comment.MessageID == Message.MessageID){
                    <div class="pl-3">
                        <h3>@Comment.User.FullName - @Comment.DateFormatted()</h3>
                        <p>@Comment.Message</p>
                    </div>
                    }
                }
                <form asp-action="new" asp-controller="Comments" methods="POST" class="d-flex flex-column justify-content-right">
                    <h2>Post a comment!</h2>
                    <input hidden asp-for="MessageID" value=@Message.MessageID>
                    <textarea asp-for="Message"></textarea>
                    <button class="btn btn-success">Post a Message</button>
                </form>
            </div>   
            <hr>
    </div>
}
