@{
    ViewData["Title"] = "Home Page";
}
@using Stripe
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

<h3>New Products</h3>
      <div class="d-flex flex-wrap">
        @foreach (Product Product in ViewBag.Products)
        {
            <div class="card m-1" style="width: 200px;">
                @if(Product.Images.Count == 0)
                {
                    <img src="~/img/NoImage.jpg" class="card-img-top" alt="..." style="width:200px; height:200px"> 
                }
                else
                {
                    <img src=@Product.Images[0] class="card-img-top" alt="..." style="width:200px; height:200px">
                }
                @* <p>@Product.Images.Count</p> *@
                <div class="card-body">
                    <p class="card-text">@Product.Name</p>
                </div>
                <div class="card-footer">
                    <p>(@Product.Metadata["Stock"] left)</p>

                </div>
            </div>
        }
    </div>


<h3>Recent orders</h3>
<ul class="list-group">
@foreach (Invoice item in ViewBag.Invoices)
{
    TimeSpan timeElapsed = (DateTime.UtcNow - item.Created);
    string timeAgo = "";
    if(Math.Abs(timeElapsed.Days) >= 1){timeAgo = $"{timeElapsed.Days.ToString()} Days ago"; }
    else if(Math.Abs(timeElapsed.Hours) >= 1){timeAgo = $"{timeElapsed.Hours.ToString()} Hours ago";}
    else if(Math.Abs(timeElapsed.Minutes) >= 1){timeAgo = $"{timeElapsed.Minutes.ToString()} Minutes ago";}
    else if(Math.Abs(timeElapsed.Seconds) >= 1){timeAgo = $"{timeElapsed.Seconds.ToString()} Seconds ago";}
    <li class="list-group-item">@item.CustomerName has ordered @item.Lines.Data[0].Quantity @item.Lines.Data[0].Description - @timeAgo </li>
}
</ul>


<h3>New Customers</h3>
<ul>

@foreach (var item in ViewBag.Customers)
{
    TimeSpan timeElapsed = (DateTime.Now- item.Created);
    string timeAgo = "";
    if(timeElapsed.Days >= 1){timeAgo = $"{timeElapsed.Days.ToString()} Days ago"; }
    else if(timeElapsed.Hours >= 1){timeAgo = $"{timeElapsed.Hours.ToString()} Hours ago";}
    else if(timeElapsed.Minutes >= 1){timeAgo = $"{timeElapsed.Minutes.ToString()} Minutes ago";}
    else if(timeElapsed.Seconds >= 1){timeAgo = $"{timeElapsed.Seconds.ToString()} Seconds ago";}
    <p>@item.Name has Joined the store - @timeAgo</p>
}
</ul>